@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  margin: 1rem;
  text-align: center;
  font-size: 2rem;
}

.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.search-bar h6,input{
  margin-right: 2rem;
}

.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
}